# Virtual environment
venv/
.env/

# SQLite database
db.sqlite3
*.sqlite3

# Compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VSCode settings (opcional)
.vscode/

# Django stuff
*.log
*.pot
*.pyc
*.mo
*.pkl

# MacOS
.DS_Store
